* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

body,
input,
button {
    font-family: "Poppins", sans-serif;
}

:focus {
    outline: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h5 {
    font-weight: normal;
}

.gp7 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    padding-bottom: 24px;
    text-align: center;
}

.gp7__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.gp7__logo {
    display: inline-flex;
    margin-bottom: 40px;
}

.gp7__title {
    font-size: 26px;
    line-height: 26px;
}

.gp7__title,
.gp7__txt--subtext {
    font-weight: 200;
}

.gp7__txt--discount {
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
}

.gp7-form__out {
    padding-top: 150px;
    position: relative;
    overflow: hidden;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gp7-form__icon {
    position: absolute;
    inset-inline: 0;
    top: 15px;
    margin: 0 auto;
    animation: rotate 40s linear infinite;
}

.gp7-form {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.gp7-form,
.gp7-form-message {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -0.19%, rgba(0, 0, 0, 0.70) 18.59%, #000 48.08%);
    height: 244px;
}


.gp7-form__title {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
}

.gp7-form__field,
.gp7-form__btn {
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
    padding-inline: 12px;
}

.gp7-form__field {
    display: flex;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #C0C0C0;
    color: #FFFFFF;
    transition: border-color ease .4s;
}

.gp7-form__field::placeholder {
    color: #C0C0C0;
}

.gp7-form__field:focus {
    border-color: #3834F7;
}

.gp7-form__btn {
    border: none;
    cursor: pointer;
    transition: all ease .4s;
    color: #FFFFFF;
}

.gp7-form__btn:not(:hover):not(:active) {
    background-color: #3834F7;
}

.gp7-form__btn:not(:active):hover {
    background-color: #2F2CCF;
}

.gp7-form__btn:active {
    background-color: #2623A6;
}

.gp7-form__btn[disabled] {
    opacity: 0.4;
}

.gp7-form-message {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 40px;
}

.gp7-form-message__title {
    font-weight: 700;
}

.gp7-form-message__txt {
    font-size: 14px;
}

.gp7-meet {
    display: flex;
    flex-direction: column;
}

.gp7-meet__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
}

.gp7-meet__description {
    font-size: 19px;
}

.gp7-meet__information {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.swiper-container {
    width: 100%;
    max-width: 360px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.swiper-slide__title {
    font-weight: 700;
    font-size: 20px;
}

.swiper-slide__txt {
    font-weight: 300;
    margin-top: -10px;
}

@media (min-width: 768px) {
    .gp7 {
        padding-top: 66px;
    }

    .gp7-form__out {
        width: 360px;
    }

    .gp7-meet__information {
        margin-top: 27px;
    }

    .gp7-meet {
        align-items: center;
    }
}

@media (max-width: 767px) {

    .gp7 {
        padding-top: 40px;
    }

    .gp7__header,
    .gp7__main {
        padding-inline: 20px;
    }

    .swiper-container {
        max-width: 100%;
    }

    .swiper-slide {
        width: 190px;
    }

    .gp7__main {
        align-self: stretch;
    }

    .gp7-form__out {
        width: 100%;
    }  

    .gp7-meet__information {
        margin-top: 14px;
    }

    .gp7-meet {
        align-items: flex-end;
    }
}

@media (max-width: 480px) {
    .gp7-form__title {
        letter-spacing: 1.8px;
    }
}

@media (max-width: 400px) {
    .gp7-form__title {
        letter-spacing: 1.5px;
    }
}

@media (max-width: 390px) {
    .gp7-form__title {
        letter-spacing: 1.2px;
    }
}

@media (max-width: 380px) {

    .gp7__header,
    .gp7__main {
        padding-inline: 15px;
    }
}

@media (max-width: 370px) {
    .gp7-form__title {
        letter-spacing: 0.8px;
    }
}

@media (max-width: 360px) {
    .gp7-form__title {
        letter-spacing: 0.6px;
    }
}

@media (max-width: 360px) {
    .gp7-form__title {
        letter-spacing: 0.4px;
    }
}

@media (max-width: 350px) {
    .gp7-form__title {
        letter-spacing: 0.2px;
    }
}

@media (max-width: 340px) {

    .gp7__header,
    .gp7__main {
        padding-inline: 10px;
    }

    .gp7-form__title {
        letter-spacing: 0;
    }

    .gp7-form__title {
        font-size: 17px;
    }
}